# Xcode
xcuserdata/
*.xcodeproj/xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
DerivedData/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
# Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# OS
.DS_Store

# Workspace
*.xcworkspace
